---
import Layout from "@/layouts/Layout.astro";
import WorkoutPlanDetail from "@/components/workout-plans/WorkoutPlanDetail";

export const prerender = false;

const user = Astro.locals.user;

if (!user) {
  return Astro.redirect("/auth/login");
}

const { id } = Astro.params;

if (!id) {
  return Astro.redirect("/workout-plans");
}
---

<Layout title="Workout Plan Details - Gym Track">
  <div class="container mx-auto px-4 py-8 sm:px-6 lg:px-8">
    <WorkoutPlanDetail planId={id} client:load />
  </div>
</Layout>
